<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TO DO list</title>
    </head>
    <body>
        <h1> <%= inFileApp %> </h1>

        <ul>
            <% for (let i of todoList) { %>
                <li><%= i %></li>
            <% } %>
        </ul>
        <form method="post" action="/">
            <input type="text" name="inputValue" />
            <button type="submit">Submit</button>
        </form>

    </body>
</html>