<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TO DO list</title>
    </head>
    <body>
        <h1>Enter the city <%= inFileApp %></h1>
    </body>
</html>