.heading {
    color: red;
}
img {
    width: 100px;
    margin: 10px;
}

.box-line {
}

.sq {
    width: 200px;
    height: 200px;
    border: black 1px solid;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.sq:last-child {
    margin: 0;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: white 1px solid;
    border-radius: 50%;
}